@import "../../components/variables";
@import "../../components/mixins";

.about-banner-1 {
  display: flex;
  flex-direction: row;
  border-bottom: solid #ffba00 8px;

  img {
    width: 600px;

    @media screen and (max-width: 1120px) {
      display: none;
    }
  }

  #about-text {
    color: white;
    background-color: #001c38;
    margin: 0;
    flex-shrink: 99999;

    .text {
      max-width: 70%;
      padding: 10%;

      h1 {
        font: 900 3rem/1 $open-sans;
        letter-spacing: 0.5rem;
        margin-bottom: 20px;
        padding: 0 0 30px;
      }

      p {
        font: 300 1rem/1.8rem $open-sans;
        margin: 0 0 20px;
      }
    }
  }
}

.about-quick-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 70px 8%;

  a {
    font: 600 1rem/1 $open-sans;
    text-decoration: none;
  }

  .link-container {
    text-align: center;
    color: $blue;
    font-size: 24px;
    font-family: $open-sans;

    .quick-link {
      @include transition(0.3s);
      height: 100px;
      fill: $blue;

      &:hover {
        fill: $orange;
        height: 110px;
      }
    }

    h2,
    a {
      font: 600 1.5rem/1.2 $open-sans;
      color: $blue;
    }
  }
}
