@import "../../components/variables";

@mixin grid-columns($num) {
    grid-template-columns: repeat(#{$num}, calc(100% / #{$num}));
}

.board {
    @include grid-columns(4);
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 70vw;
    position: relative;
    left: calc(15vw - 45px);
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 50px;
}

.divider {
    width: 100%;
    height: 0;
    border-bottom: 5px solid $orange;
}