@import "../../components/variables";

.home-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image: linear-gradient(180deg, $blue 0%, #000 100%);
    color: white;
    padding: 90px 0;

    & svg {
        fill: white;
        height: 90px;
    }

    & .divider-small {
        width: 25%;
        border-bottom: 1px solid white;
    }

    & h2, & p {
        font-family: $open-sans;
        letter-spacing: 1px;
        text-align: center;
        width: 75%;
    }

    & h2 {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.2em;
        text-shadow: 0px 0px 6px #000000;
    }

    & p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5em;
    }
}