@import "../../components/variables";

.meetings {
    padding: 5% 10%;

    & h2 {
        font: 600 28px/1 $open-sans;
        text-transform: uppercase;
        color: $blue;
    }
    
    & p {
        font: 400 1rem/1.7 $open-sans;
        color: $gray;
    }
}