@import "../variables";
@import "../mixins";

.director-card {
    position: relative;

    .head-shot {
        width: 100%;
        height: auto;
    }

    svg {
        @include transition(.3s);
        position: absolute;
        bottom: 0;
        height: 2rem;
        fill: #102C63;

        &:hover {
            fill: $orange;
        }
    }

    h2 {
        font: 700 30px/1.2 $open-sans;
        color: #102C63;
        text-transform: uppercase;
        margin: 5px 0;
    }

    h4 {
        font: 400 17px/1rem $playfair-display;
        color: #7A7A7A;
        text-transform: uppercase;
        margin: 5px 0px 10px;
        letter-spacing: 1.3px;
        margin-bottom: 2.3rem;
    }
}