@import "../variables";
@import "../mixins";

.director-card {
  position: relative;

  .head-shot {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-position: 0 0;
    object-fit: cover;
  }

  svg {
    @include transition(0.3s);
    position: absolute;
    bottom: 0;
    height: 2rem;
    fill: #102c63;

    &:hover {
      fill: $orange;
    }
  }

  h2 {
    font: 700 30px/1.2 $open-sans;
    color: #102c63;
    text-transform: uppercase;
    margin: 5px 0;
  }

  h4 {
    font: 400 15px/1rem $playfair-display;
    color: #7a7a7a;
    margin: 5px 0px 10px;
    letter-spacing: 1.3px;
    margin-bottom: 2.3rem;

    &.major {
      text-transform: uppercase;
      font-size: 17px;
    }
  }
}