@import "../../components/variables";

$border: 1px solid #ccc;

.calendar {
    &-nav {

    }

    &-days {
        margin: 10%;

        .weekdays {
            display: grid;
            grid-template-columns: repeat(7, calc(100% / 7));
        }

        .days {
            display: grid;
            grid-template-columns: repeat(7, calc(100% / 7));
            border-bottom: $border;
            border-left: $border;

            .day {
                min-height: 100px;
                position: relative;
                border-right: $border;
                cursor: pointer;

                & span {
                    font: 700 .8rem/1.2 $open-sans;
                    background-color: #f7f7f7;
                    color: #707070;
                    padding: 4px 9px 6px;
                    display: block;
                }
            }

        }
    }
}