@import "../variables";
@import "../mixins";

$medium: 1000px;
$small: 750px;

.carousel {
    overflow: hidden;
    max-width: 100vw;
    position: relative;
    height: 80vh;

    .slide {
        // parallax background
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        padding: 5% 0;
        position: absolute;
        color: white;
        display: table;
        overflow: hidden;
        height: 80vh;
        width: 100%;

        transform: translateX(0%);
        transition: transform 1500ms ease 0s;

        &.prev,
        &.next {
            position: absolute;
        }

        &.prev {
            transform: translateX(-100%);
        }

        &.next {
            transform: translateX(100%);
        }

        &.moving {
            z-index: -1;
        }

        // arrows live inside the slide to stay centered
        // with it
        .arrow-container {
            display: table-cell;
            vertical-align: middle;
        }

        .left,
        .right {
            @include transition(.3s);
            cursor: pointer;
            fill: white;
            opacity: .75;
            height: 40px;

            &:hover {
                opacity: 1;
            }
        }

        .left {
            float: right;
        }

        .carousel-content {
            padding: 60px 100px;
            width: 80%;
            background-color: rgba(0, 0, 0, .5);
            border-radius: 15px;
            text-align: center;

            display: table-cell;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;

            @media screen and (max-width: $small) {
                padding: 40px 50px;
                width: 90%;
            }

            h1 {
                font: 900 3.125rem/1.2 $open-sans;
                text-transform: uppercase;
                margin-bottom: 30px;

                @media screen and (max-width: $medium) {
                    font-size: 2.5rem;
                }

                @media screen and (max-width: $small) {
                    font-size: 1.6rem;
                }
            }

            p {
                font: 400 1.5625rem/1.4 $playfair-display;

                @media screen and (max-width: $medium) {
                    font-size: 1.25rem;
                }

                @media screen and (max-width: $small) {
                    font-size: 1rem;
                }
            }
        }

        a {
            @include transition(.3s);
            font: 500 1rem/1 $open-sans;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: $blue;
            background-color: $orange;
            border: 2px solid $orange;
            outline: none;
            padding: 15px 30px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                color: white;
                background: none;
                border: 2px solid white;
            }
        }
    }
}