@import "../../components/variables";
@import "../../components/mixins";


$large: 1000px;

.membership-benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $blue;
    padding: 50px 0;
    border-bottom: 5px solid $orange;

    & h1 {
        font: 600 1.75rem/1 $open-sans;
        text-align: center;
    }

    & .benefits {
        display: grid;
        grid-template-columns: repeat(3, calc(100% / 3));
        color: $blue;
        font-family: $open-sans;
        width: 80%;
        max-width: 1400px;

        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(2, calc(100% / 2));
        }
        @media screen and (max-width: 450px) {
            grid-template-columns: 100%;
        }

        & .benefit {
            text-align: center;
            padding: 5px;
            
            & svg {
                @include transition(.3s);
                height: 60px;
                fill: $blue;
                cursor: pointer;

                &:hover {
                    fill: $orange;
                    height: 65px;
                }
                @media screen and (max-width: $large) {
                    height: 45px;
                    &:hover {
                        height: 50px;
                    }
                }
            }

            & h2 {
                font: 600 1.5rem/1 $open-sans;

                @media screen and (max-width: $large) {
                    font-size: 1.2rem;
                }
            }
            
            & p {
                font: 400 1rem/1.7 $open-sans;
                color: $gray;
                margin: 0;
                padding: 0;
            }
        }
    }
}