@import "../variables";

.banner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 270px;
    width: 100%;
    line-height: 1.7;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    & .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: #172959;
        opacity: .7;
    }

    & .text {
        color: white;
        position: relative;
        text-align: center;
        max-width: 80%;
        line-height: 1;

        & .title {
            font: 900 2.5rem/1.7 $open-sans;
            text-transform: uppercase;
            @media screen and (max-width: 450px) {
                font-size: 2rem;
            }
            @media screen and (max-width: 360px) {
                font-size: 1.5rem;
            }
        }

        & .subtitle {
            font-size: 19px;
            font-family: $playfair-display;
        }
    }
}